<p>お世話になっております <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>あなたのメールアドレスが次のパスワードに変更されようとしてしています。 <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>あなたのメールアドレスがこちらに変更されました。 <%= @resource.email %>.</p>
<% end %>
