<p>Hello <%= @resource.email %>!</p>

<p>パスワードの変更がリクエストされました。 下記のリンクからパスワードのリセットができます。</p>

<p><%= link_to 'パスワードの変更', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もし心当たりがなければこのメールを無視してください。</p>
<p>リンクからパスワードの変更を行わなければパスワードは変更されません。</p>
